<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Group text="Быстрые приложения">
		<AppPicker id="app1" text="Приложение 1"/>
		<AppPicker id="app2" text="Приложение 2"/>
		<AppPicker id="app3" text="Приложение 3"/>
		<AppPicker id="app4" text="Приложение 4"/>
		<AppPicker id="app5" text="Приложение 5"/>
		<AppPicker id="app6" text="Приложение 6"/>
	</Group>
	<Group text="Настройки разблокировки">
		<StringInput default="350" id="unlock_height" summary="Высота поднятия экрана для разблокировки, по умолчанию 350" text="Расстояние до разблокировки"/>
		<StringInput default="User" id="unlock_user_label" text="Имя пользователя"/>
		<StringInput default="Войти" id="unlock_btn_text" text="Текст кнопки разблокировки"/>
		<ImagePicker default="" id="unlock_user_image" summary="Оптимальный размер 1:1, иначе значок будет искажен" text="Изображение пользователя"/>
		<CheckBox default="1" id="unlock_wallpaper_blur" text="Размывать фон при разблокировке?" summary="Включает размытие фона" />
	</Group>
	<Group text="Отладка">
		<CheckBox default="0" id="dev_mode" text="Режим разработчика" summary="Включает отладочную информацию" />
	</Group>
</Config>