<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Group text="Быстрые приложения">
		<AppPicker id="app1" text="Приложение 1"/>
		<AppPicker id="app2" text="Приложение 2"/>
		<AppPicker id="app3" text="Приложение 3"/>
		<AppPicker id="app4" text="Приложение 4"/>
		<AppPicker id="app5" text="Приложение 5"/>
		<AppPicker id="app6" text="Приложение 6"/>
	</Group>
	<Group text="Настройки разблокировки">
		<StringInput default="350" id="unlock_height" summary="Высота поднятия экрана для разблокировки, по умолчанию 350" text="Расстояние до разблокировки"/>
		<StringInput default="Login" id="unlock_btn_text" text="Текст кнопки разблокировки"/>
		<ImagePicker default="Стандартная" id="unlock_user_image" summary="Оптимальный размер 300x300 и квадратная форма, иначе значок будет искажен" text="Изображение пользователя"/>
		<StringInput default="ToxesFoxes" id="unlock_user_label" text="Имя пользователя"/>
	</Group>
	<CheckBox text="Режим разработчика" summary="Включает отладочную информацию" id="dev_mode" default="0"/>
</Config>